<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Taman Glugut</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
    rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
    rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link href="/static/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/creative.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Taman Glugut</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Tentang</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#location">Lokasi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#info">Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#photo">Foto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#video">Video</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Taman Glugut</strong>
          </h1>
          <hr>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">Tentang Taman Glugut</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">
            Wisata taman Glugut Bantul merupakan wisata baru, pasalnya wisata itu baru dibuka di awal tahun 2018, detail nya pada tanggal
            1 januari 2018. Meskipun tergolong wisata baru, namun para wisatawan terlihat begitu antusias mencoba berlibur
            disana. Taman Glugut menghadirkan berbagai spot foto ciamik yang sangat digemari bagi anak muda jaman now yang
            memiliki hobi berselfie ria. Masyarakat sekitar sering juga menyebut wisata ini dengan sebutan taman Bendungan
            Indah. Berbeda seperti wisata kekinian mengandalkan berbagai spot foto, para wisatawan dipandu menyusuri sungai
            opak menggunakan perahu mesin. Ketika menyusuri sungai, pengunjung melihat deretan pohon rindang seperti suasana
            di sungai Amazon Amerika. Sepertinya sebutan Amazon van Java layak disandang oleh wisata baru Yogyakarta ini.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark" id="location">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto text-center">
          <h2 class="section-heading text-white">Lokasi</h2>
          <hr class="light my-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7904.456330166984!2d110.38592092305495!3d-7.871177327316235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf93696690ae1f0ec!2sGlugut+Park!5e0!3m2!1sen!2sid!4v1526221700648"
            width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
          <p class="text-faded mb-4">
            Lokasi wisata taman Glugut terletak di pinggir sungai opak detail nya alamat taman Glugut Yogyakarta berada di Desa Wonokromo
            satu, Kecamatan Pleret, Kabupaten Bantul, Provinsi Yogyakarta. Apabila dari pusat kota Yogyakarta jaraknya sekitar
            12 kilometer dengan waktu tempuh 30 menit. Rute taman Glugut Wonokromo Bantul yang dapat diambil dari kota Yogyakarta
            menuju melewati terminal Giwangan. Sesampai disana mengarah ke arah selatan melewati jalan Imogiri Timur, kemudian
            melewati perempatan Jejeran. Dari lokasi tersebut hingga bertemu pertigaan. Setelah itu ambil ke arah kiri lagi,
            maka lokasi wisata taman Glugut Yogyakarta tidak jauh dari sana.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="info">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Info</h2>
          <hr class="my-4">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <h3 class="mb-3">HARGA</h3>
            <p class="text-muted mb-0">
              <ul class="text-left">
                <li>Gratis masuk</li>
                <li>Menyebrang kapal seikhlasnya</li>
                <li>Menyusuri Opak 5000/orang</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <h3 class="mb-3">Hotel terdekat</h3>
            <p class="text-muted mb-0">
              <ul class="text-left">
                <li>Homestay Adiluhung</li>
                <li>Suwuk Homestay</li>
                <li>Penginapan Filistay</li>
                <li>Penginapan Grass Root Tour And Homestay</li>
                <li>Villa ada waktu</li>
              </ul>
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <h3 class="mb-3">Destinasi Sekitar</h3>
            <p class="text-muted mb-0">
              <ul class="text-left">
                <li>Wisata Balong Waterpark</li>
                <li>Wisata Puncak Gebang</li>
                <li>Wisata Gua Permoni</li>
                <li>Wisata Puncak Sosok</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-0" id="photo">
    <div class="container-fluid p-0">
      <div class="row no-gutters popup-gallery">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/glugut/fullsize/1.jpg">
            <img class="img-fluid" src="/static/img/glugut/thumbnail/1.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Pinggir Sungai
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/glugut/fullsize/2.jpg">
            <img class="img-fluid" src="/static/img/glugut/thumbnail/2.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Naik Kapal
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/glugut/fullsize/3.jpg">
            <img class="img-fluid" src="/static/img/glugut/thumbnail/3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Pemandangan pinggir sungai
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/glugut/fullsize/4.jpg">
            <img class="img-fluid" src="/static/img/glugut/thumbnail/4.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Pintu masuk
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/glugut/fullsize/5.jpg">
            <img class="img-fluid" src="/static/img/glugut/thumbnail/5.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Tempat makan
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="/static/img/glugut/fullsize/6.jpg">
            <img class="img-fluid" src="/static/img/glugut/thumbnail/6.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="portfolio-box-caption-content">
                <div class="project-category text-faded">
                  Mandi di sungai
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark" id="video">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto text-center">
          <h2 class="section-heading text-white">Video</h2>
          <hr class="light my-4">
          <iframe width="100%" height="600px" src="https://www.youtube.com/embed/2nZFXtRcPA0" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/static/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/creative.min.js"></script>

</body>

</html>